
/*

Generalized tags

*/

body{

    background-color:rgb(111, 171, 197);

}

a{

    color: crimson;
    text-shadow: 10px red;

}

a:hover{

    color: crimson;
    text-decoration: none;
    cursor:help;

}



/*

Row 1 Styling

*/

#row1col1H1{

    color:black;
    text-decoration: underline;
    text-align: center;

}


/*

Row 2 Styling

*/

#row2col1H2{

    color: black;

}


/*

Row 3 styling

*/


/*

Button styling

*/


#fullreviewsbutton{


    margin: auto;
    display: block;
    height: 30px;
    width: 300px;
    text-align: center;
    border: 1px dashed white;
    color: white;
    background-color: black;

}

