

/*

Body styling

*/

#mainbody{

    background-color: black;

}


/*


Header styling


*/

#headerH1{

    text-align: center;
    color:green;


}




/*

Column1 styling

*/

#column1{

    border: 2px solid black;

}

#column1IMG{

    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;

}

/*

Column2 Styling

*/


#column2{

    border: 2px solid green;

}

#column2H4{

    text-align: center;
    text-decoration: underline;
    color:rgb(163, 148, 148);

}

#column2 a{

    text-decoration:none;

}

#column2 a:hover{

    color:crimson;
    text-shadow: 5px black;

}

#column2 p{

    text-align: center;
    color: white;

}

/*

Column3 Styling

*/


#column3{

    border: 2px solid black;

}
