

/*

General styling

*/

#mainbody{

    background-color: black;

}

a:hover{

    color:crimson;
    text-shadow: 5px black;
    text-decoration: none;

}


/*


Header styling


*/

#headerH1{

    text-align: center;
    color:green;


}


/*


---- Row 1 Styling ----


*/

/*

Column1 styling

*/

#column1{

    border: 2px solid black;

}

#column1IMG{

    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;

}

/*

Column2 Styling

*/

#column2H4{

    text-align: center;
    text-decoration: underline;
    color:rgb(163, 148, 148);

}

#column2 a{

    text-decoration:none;

}

#column2 a:hover{

    color:crimson;
    text-shadow: 5px black;

}

#column2 p{

    text-align: center;
    color: white;

}

/*

Column3 Styling

*/


#column3{

    border: 2px solid black;

}

#column3H5{

    text-align: center;
    color:rgb(163, 148, 148);

}

#column3 li{

    color: rgb(214, 206, 206);

}

#column3 a:hover{

    color:crimson;
    text-shadow: 5px black;

}

#sideprojectlist{

    background-color: black;

}

/*


---- Row 2 Styling ----


*/


/*


Row 2 Column 1 Styling


*/

#row2col1H3{

    text-align: center;
    text-decoration: underline;
    color:rgb(163, 148, 148);

}

#row2col1 ul{

    border: 2px solid rgb(29, 29, 29);

}

#row2col1 li{

    color: white;

}


/*

Row 2 Column 2 Styling

*/


#row2col2H3{

    text-align: center;
    text-decoration: underline;
    color:rgb(163, 148, 148);

}

#row2col2 ul{

    border: 2px solid rgb(29, 29, 29);

}

#row2col2 li{

    color: white;

}

/*

CISC 275 LINKS

*/

#teamnamegenlink:hover{


    color:crimson;
    text-shadow: 5px black;


}

/*

---- Row 3 Styling


*/


#row3col1H3{

    text-align: center;
    color: lightblue;
    border: 2px outset green;

}

#row3col1Week1UL li{

    color: rgb(80, 115, 156);

}

#row3col1Week1Header{

    color: rgb(80, 115, 156);

}


#row3col1Week1ULHeader{

    color: rgb(204, 196, 196);

}

#row3col1Week2Header li{

    color: rgb(80, 115, 156);

}

#row3col1Week2Header{

    color: rgb(80, 115, 156);

}

/*

Row 3 Column 2

*/

#row3col2H3{

    text-align: center;
    border: 2px outset green;
    color: lightblue;

}

#row3col2Week2ULHeader{

    color: rgb(204, 196, 196);

}

#row3col2Week1UL li{

    color: rgb(80, 115, 156);

}

#row3col2Week2UL{

    color: rgb(80, 115, 156);

}

/*

Row 4 Styling

*/


#row4col1button{

    margin: auto;
    display: block;
    height: 30px;
    width: 300px;
    text-align: center;

}