

#top a{

        text-decoration:none;
        padding: 5px 5px 5px 5px;

}

#bottom a:hover{

        text-shadow: 2px 2px 2px black;
        border: 2px dashed lightblue;

}

#top a:hover{

        text-shadow: 2px 2px 2px black;
        border: 2px dashed lightblue;

}

#bottom a{

        text-decoration:none;
        padding: 5px 5px 5px 5px;

}

#top{

        text-align:center;

}

#bottom{

        text-align:center;

}

#body{

        background-color:rgb(12, 13, 14);

}

#introTitle{

        text-align:center;

}

#profilepic img{

        float: left;

}

#profilepic h3{

        clear:left;
        text-align:center;

}

#howtoreachmetable{

        float:center;
        text-align: center;
        color:green;

}