

/*

Body styling

*/

#mainbody{

    background-color: black;

}


/*


Header styling


*/

#headerH1{

    text-align: center;
    color:green;


}


/*


---- Row 1 Styling ----


*/

/*

Column1 styling

*/

#column1{

    border: 2px solid black;

}

#column1IMG{

    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;

}

/*

Column2 Styling

*/


#column2{

    /*border: 2px solid green;*/

}

#column2H4{

    text-align: center;
    text-decoration: underline;
    color:rgb(163, 148, 148);

}

#column2 a{

    text-decoration:none;

}

#column2 a:hover{

    color:crimson;
    text-shadow: 5px black;

}

#column2 p{

    text-align: center;
    color: white;

}

/*

Column3 Styling

*/


#column3{

    border: 2px solid black;

}

#column3H5{

    text-align: center;

}

#column3 li{

    color: rgb(214, 206, 206);

}

#column3 a:hover{

    color:crimson;
    text-shadow: 5px black;

}

/*


---- Row 2 Styling ----


*/


/*


Column 1 Styling


*/

#row2col1H3{

    text-align: center;
    text-decoration: underline;

}

#row2col1 ul{

    border: 2px solid rgb(29, 29, 29);

}

#row2col1 li{

    color: white;

}


/*

Column 2 Styling

*/


#row2col2H3{

    text-align: center;
    text-decoration: underline;

}

#row2col2 ul{

    border: 2px solid rgb(29, 29, 29);

}

#row2col2 li{

    color: white;

}

/*

CISC 275 LINKS

*/

#teamnamegenlink:hover{


    color:crimson;
    text-shadow: 5px black;


}