

#top a{

        text-decoration:none;

}

#bottom a:hover{

        text-shadow: 1px 1px 1px black;

}

#top a:hover{

        text-shadow: 1px 1px 1px black;

}

#bottom a{

        text-decoration:none;

}

#top{

        text-align:center;

}

#bottom{

        text-align:center;

}