/*

General Styling

*/

body{

    background-color: aliceblue;

}


/*

Row 1 Styling

*/

#row1col1H1{

    text-align: center;
    text-decoration: underline;
    

}

#reactreviewbutton{

    margin: auto;
    display: block;
    height: 30px;
    width: 300px;
    text-align: center;
    border: 1px dashed white;
    color: white;
    background-color: black;

}