/*

row1 stylings

*/

#row1H1{

    text-align:center;
    text-decoration: underline;

}

/*

Row 2 Stylings

*/

#row2col1{

    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*

Row 3 Stylings

*/

#teamnamebutton{

    margin: auto;
    display: block;

}

/*

Row 3 styling

*/

#row3{

    border: 2px solid green;

}

#row3col1{

    text-align: center;

}

#row3col2{

    text-align: center;

}

#row3col1H1{

    color: white;

}

#row3col2H1{

    color: white;

}

#row4col1button{

    margin: auto;
    display: block;
    height: 30px;
    width: 300px;
    text-align: center;


}